
body {
    background-color: #190ac1;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #2d09ce;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}